<!--[if (gt IE 8)]><!-->
script(src=paths.js + 'vendor/jquery.js')
<!--<![endif]-->

<!--[if (lte IE 8)]>
script(src=paths.js + 'vendor/old-ie/jquery-1.9.0.js')
script(src=paths.js + 'vendor/old-ie/html5shiv.js')
script(src=paths.js + 'vendor/old-ie/selectivizr-min.js')
<![endif]-->
script.
  var MLP = MLP || {};
  MLP.paths = !{JSON.stringify(paths)};
script(src=paths.js + 'vendor.min.js')
script(src=paths.js + 'app.min.js')

if (host)
  script#__bs_script__(type='text/javascript').
    //<![CDATA[
    document.write("<script async src='http://HOST:8081/browser-sync/browser-sync-client.2.9.11.js'><\\/script>".replace("HOST", location.hostname));
    //]]>
